{exp:search:simple_form
	name="search-form"
	form_id="search-form"
	result_page="search"
	no_result_page="search/no-results"
	search_in="everywhere"
	status="not closed"
	channel="blog|news|content"
	where="any"
}
	<p>
		<input type="text" id="search" name="keywords" placeholder="Search" title="To search for a phrase, place the words inside double quotes.
To search for entries without certain words or phrases, place a negative sign (-) before it."/>
		<input type="submit" value="Search"/>
	</p>
{/exp:search:simple_form}