{exp:email:contact_form user_recipients="no" recipients="{embed:email}" charset="utf-8" redirect="2" form_id="{embed:id}" form_class="contact_form"}
	
	<input type="hidden" name="required[]" value="Name:" />
	
	<fieldset class="uniform">
		
		<p>
			<label for="name">Full Name:</label>
			<input type="text" id="name" name="required[]" title="name" size="40" class="textbox val" />
		</p>
		
		<p>
			<label for="from">Email Address:</label>
			<input type="text" id="from" name="from" title="email" size="40" class="textbox val" />
		</p>
		
		<input type="hidden" name="required[]" value="" />
		<input type="hidden" name="required[]" value="Message:" />
		
		<p>
			<label for="message">Message: </label>
			<textarea id="message" name="message[]" title="message" class="textarea val" cols="30" rows="7"></textarea>
		</p>
		
		{if captcha}
			<p>
				<label for="captcha">{captcha}</label>
				<input type="text" id="captcha" name="captcha" maxlength="35" title="" value="" class="textbox" />
			</p>
		{/if}
		
	</fieldset>
	
	
	<p>
		<input type="submit" value="Send" class="button" />
	</p>
	
	<input type="hidden" name="subject" value="Enquiry from {site_name}" />

	<div class="form-message"></div>
{/exp:email:contact_form}