			</div>
			
		</div>

	</div>
	
	<div id="footer" class="left twelvecol">
	
		<div id="footer-inner" class="inner">
	
			<div id="footer-menu">
				{exp:taxonomy:nav tree_id="1" display_root="no"}
					<a href="{node_url}" title="{node_title}">{node_title}</a> 
				{/exp:taxonomy:nav}
			</div>
	
			<div id="footer-copyright">
				{exp:channel:entries channel="snippets" url_title="copyright" dynamic="no" disable="categories|member_data|pagination"}
				{content_body}
			{/exp:channel:entries}
			</div>
			
		</div>
		
	</div>
	
	<div id="cookie_box">Our site requires cookies to function, <a href="/cookie-policy">click here</a> for more information <a href="#" class="cookie_box_close">Close [X]</a></div>

{exp:minimee:js}
<script src="/assets/js/jquery.form.js" type="text/javascript"></script>
<script src="/assets/js/jquery.cycle.all.js" type="text/javascript"></script>
<script src="/assets/js/jquery.prettyPhoto.js" type="text/javascript"></script>
<script src="/assets/js/doc.ready.js" type="text/javascript"></script>
{/exp:minimee:js}

</body>
</html>
