<!DOCTYPE html>
<!--[if lte IE 7 ]><html lang="en-GB" class="nojs ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en-GB" class="nojs ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en-GB" class="nojs ie9"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en-gb" class="nojs"><!--<![endif]-->
<head>
{embed="_inc/.meta"}
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="robots" content="index, follow, noodp, noydir" />

{exp:minimee:css}
<link rel="stylesheet" href="/assets/css/meanmenu.css" type="text/css" />
<link rel="stylesheet" href="/assets/css/magnific-popup.css" type="text/css" />
<link rel="stylesheet" href="/assets/css/base.css" type="text/css" />
<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
{/exp:minimee:css}
{if segment_2 == "order-info"}
	<link rel="stylesheet" href="/assets/css/print_order.css" type="text/css" media="print" />
{/if}
{!-- UPLOAD FAVICON TO ROOT <link rel="shortcut icon" href="/favicon.ico" />--}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript">(function(B,C){B[C]=B[C].replace(/\bnojs\b/,'js')})(document.documentElement,'className');</script>

{!-- ANALYTICS HERE --}

</head>

<body class="{if segment_1 ==""}home{if:else}{segment_1}{/if}{if segment_2 !=""} {segment_2}{/if}{if segment_3 !=""} {segment_3}{/if}">

	<div id="header" class="left twelvecol">
		<div id="header-inner" class="inner">
			<div class="col twelvecol">
				
				<div id="header-logo" class="left fourcol">
					{exp:channel:entries
						channel="snippets"
						url_title="logo"
						dynamic="no"
						disable="categories|member_data|pagination"
					}
						{snippet_body}
					{/exp:channel:entries}
				</div>
				
				<div id="header-account-menu" class="right fourcol text-right">
					{if "{exp:cartthrob:total_items_count}" != 0}
						<a href="/cart" class="button">Cart ({exp:cartthrob:total_items_count})</a>
					{/if}
					{if logged_in}
						<a href="/members" class="button">Account</a>
					{/if}
					{if logged_out}
						<a href="/members" class="button">Login</a>
					{/if}
					{exp:search:simple_form
						name="search-form"
						form_id="search-form"
						result_page="search"
						no_result_page="search/no-results"
						search_in="everywhere"
						status="not closed"
						channel="products|news|content"
						where="any"
						form_class="left twelvecol"
					}
						<input type="text" id="search" name="keywords" placeholder="Search" title="To search for a phrase, place the words inside double quotes.
To search for entries without certain words or phrases, place a negative sign (-) before it."/>
						<button type="submit" id="search-button" class="secondary">Search</button>
					{/exp:search:simple_form}
				</div>
				
				<div id="header-main-menu" class="right eightcol">
					{exp:taxonomy:nav
						tree_id="1"
						display_root="no"
						ul_css_class="menu right"
					}
						<a href="{node_url}"{if link_title} title="{link_title}"{/if}>{node_title}</a>
					{/exp:taxonomy:nav}
				</div>
				
			</div>
		</div>
	</div>

	<div id="main-content" class="left twelvecol">
	
		<div id="main-content-inner" class="inner">
		
			<div id="content" class="{if embed:twocol == ""}col{if:else}left{/if} {if embed:sidebar == ""}ninecol{if:else}twelvecol{/if} content">