
{if logged_out}
<h2>Menu</h2>
<ul>
	<li><a href="{site_url}restaurants/index">Restaurants</a></li>
	<li><a href="{site_url}contact">Contact</a></li>
	<li><a href="{site_url}members/register">Register</a></li>
	<li><a href="{site_url}members">Login</a></li>
</ul>
{/if}

{if logged_in}
<h2>Admin Menu</h2>

<ul>
	<li><a href="{site_url}restaurants/">restaurants</a>
		<ul>
			<li><a href="{site_url}restaurants/my-restaurants">My restaurants</a></li>
			<li><a href="{site_url}restaurants/edit">Add a restaurant</a></li>
		</ul>
	</li>
</ul>

<h2>My Profile</h2>
<ul>
	<li><a href="{site_url}members/edit">Edit Profile</a></li>
	<li><a href="{site_url}members/password">Change Password</a></li>
	<li><a href="{site_url}members/email">Change Email</a></li>
	<li><a href="{path='LOGOUT'}">Logout</a></li>
</ul>

{/if}