<div id="social-buttons">
	<div class="addthis_toolbox addthis_default_style">
		<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
		<a class="addthis_button_tweet" tw:via="SBT09"></a>
		<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
		<a class="addthis_counter addthis_pill_style"></a>
	</div>
	<script type="text/javascript">
	var addthis_config = { data_use_cookies:false }
	var addthis_share = {
	    url_transforms: {
	        shorten: {
	            twitter: 'bitly'
	        },
	    },
	    shorteners: {
	        bitly: {
	             login: 'amityweb',
	             apiKey: 'R_844c102ac119d893d1d20ce37e6b9966'
	        }
	    },
		templates : {
			twitter : "{{title}} {{url}}"
		}
	}
	</script>
	<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=SBT09"></script>
</div>