{embed="_inc/.header" sidebar="false"}

<style>
#skeleton .col{	background: #FFCA30;}
#wrappers .col{	background: #30CDFF;}
	#wrappers .col .col{	background: #FFCA30;}
</style>

<p class="row text-center">
	<span class="h1">Generic Skeleton</span><br />
	<span>Try resizing the browser</span>
</p>

<div id="skeleton" class="row">
	<div class="row">
		<div class="col twelvecol">twelvecol</div>
	</div>
	
	<div class="row">
		<div class="col sixcol">sixcol</div>
		<div class="col sixcol">sixcol</div>
	</div>
	
	<div class="row">
		<div class="col fourcol">fourcol</div>
		<div class="col fourcol">fourcol</div>
		<div class="col fourcol">fourcol</div>
	</div>
	
	<div class="row">
		<div class="col eightcol">eightcol</div>
		<div class="col fourcol fullland">fourcol fullland</div>
	</div>
	
	<div class="row">
		<div class="col threecol">threecol</div>
		<div class="col threecol">threecol</div>
		<div class="col threecol">threecol</div>
		<div class="col threecol">threecol</div>
	</div>
	
	<div class="row">
		<div class="col sixcol">sixcol</div>
		<div class="col threecol">threecol</div>
		<div class="col threecol">threecol</div>
	</div>
	
	<div class="row">
		<div class="col ninecol">ninecol</div>
		<div class="col threecol fullland">threecol fullland</div>
	</div>
	
	<div class="row">
		<div class="col twocol">twocol</div>
		<div class="col twocol">twocol</div>
		<div class="col twocol">twocol</div>
		<div class="col twocol">twocol</div>
		<div class="col twocol">twocol</div>
		<div class="col twocol">twocol</div>
	</div>
	
	<div class="col ninecol">ninecol</div>
	<div class="col threecol">threecol</div>
	<div class="col threecol">threecol</div>
	<div class="col ninecol">ninecol</div>
</div>

<p class="h1 row text-center">Columns inside columns</p>

<div id="wrappers" class="row">
	<div class="col eightcol">
		This is an eightcol block with a margin.
		<div class="col eightcol">
			This is an eightcol block with a margin inside an eightcol block
		</div>
		<div class="col fourcol">
			This is an fourcol block with a margin inside an eightcol block
		</div>
	</div>
	<div class="col fourcol">
		This is an fourcol block with a margin.
		<div class="col eightcol">
			This is an eightcol block with a margin inside an fourcol block
		</div>
		<div class="col fourcol">
			This is an fourcol block with a margin inside an fourcol block
		</div>
	</div>
</div>

<p class="h1 row text-center">Brief Explanation</p>
<p>Based on a maximum width of 990px, the grid is broken down into twelve columns.</p>
<p>Obviously, we often want margins around these blocks, so we use a 1% margin. This is taken off the width.</p>
<p>The demos above all have a 1% margin.</p>
<table class="col sixcol">
	<tr>
		<td>twelvecol</td>
		<td>width: 100%;</td>
	</tr>
	<tr>
		<td>elevencol</td>
		<td>width: 91.66%;</td>
	</tr>
	<tr>
		<td>tencol</td>
		<td>width: 83.33%;</td>
	</tr>
	<tr>
		<td>ninecol</td>
		<td>width: 75%;</td>
	</tr>
	<tr>
		<td>eightcol</td>
		<td>width: 66.66%;</td>
	</tr>
	<tr>
		<td>sevencol</td>
		<td>width: 58.33%;</td>
	</tr>
	<tr>
		<td>sixcol</td>
		<td>width: 50%;</td>
	</tr>
	<tr>
		<td>fivecol</td>
		<td>width: 41.66%;</td>
	</tr>
	<tr>
		<td>fourcol</td>
		<td>width: 33.33%;</td>
	</tr>
	<tr>
		<td>threecol</td>
		<td>width: 25%;</td>
	</tr>
	<tr>
		<td>twocol</td>
		<td>width: 16.66%;</td>
	</tr>
	<tr>
		<td>onecol</td>
		<td>width: 8.33%;</td>
	</tr>
</table>

<table class="col sixcol">
	<tr>
		<td>twelvecol with 1% margin</td>
		<td>width: 98%;</td>
	</tr>
	<tr>
		<td>elevencol with 1% margin</td>
		<td>width: 89.66%;</td>
	</tr>
	<tr>
		<td>tencol with 1% margin</td>
		<td>width: 81.33%;</td>
	</tr>
	<tr>
		<td>ninecol with 1% margin</td>
		<td>width: 73%;</td>
	</tr>
	<tr>
		<td>eightcol with 1% margin</td>
		<td>width: 64.66%;</td>
	</tr>
	<tr>
		<td>sevencol with 1% margin</td>
		<td>width: 56.33%;</td>
	</tr>
	<tr>
		<td>sixcol with 1% margin</td>
		<td>width: 48%;</td>
	</tr>
	<tr>
		<td>fivecol with 1% margin</td>
		<td>width: 39.66%;</td>
	</tr>
	<tr>
		<td>fourcol with 1% margin</td>
		<td>width: 31.33%;</td>
	</tr>
	<tr>
		<td>threecol with 1% margin</td>
		<td>width: 23%;</td>
	</tr>
	<tr>
		<td>twocol with 1% margin</td>
		<td>width: 14.66%;</td>
	</tr>
	<tr>
		<td>onecol with 1% margin</td>
		<td>width: 6.33%;</td>
	</tr>
</table>

{embed="_inc/.footer" sidebar="false"}