{embed="_inc/.header"}

	<h1>Edit Profile</h1>
	
	{exp:sa_member_edit:form id="publishForm" return="members/edit"}
		
		<fieldset class="uniform">
		
			{custom_fields}
			<p>
				<label for="{field_name}">{field_label}{if required}*{/if}</label>
				{if text}
				<input type="text" name="{field_name}" width="{width}" maxlength="{maxlength}" value="{field_value}" class="inputbox" />
				{/if}
				
				{if textarea}
				<textarea name="{field_name}" rows="{rows}" class="textarea">{field_value}</textarea>
				{/if}
				
				{if select}
				<select name="{field_name}" class="selectbox">{options}</select>
				{/if}
			</p>
			{/custom_fields}
		
		</fieldset>
			
		<p>
			<input type="submit" value="Submit" class="submit">
		</p>

		<p>
			<span class="highlight">*</span> Indicates required fields
		</p>

	{/exp:sa_member_edit:form}


{embed="_inc/.footer"}