{embed="_inc/.header"}

	<h1>Update Email</h1>

	{exp:sa_member_edit:form id="publishForm" return="members/email"}
		
		<fieldset class="uniform">
			
			<p>
				<label for="email">Email Address <span class="highlight">*</span></label>
				<input type="text" name="email" value="{email}" maxlength="120" class="inputbox" size="25" />
			</p>
	
			<p>
				<label for="current_password">Password <span class="highlight">*</span></label>
				<input type="password" name="current_password" value="" maxlength="120" class="inputbox" size="25" />
			</p>
			
		</fieldset>
		
		<p>
			<input type="submit" value="Submit" class="submit">
		</p>

	{/exp:sa_member_edit:form}


{embed="_inc/.footer"}