{embed="_inc/.header"}
	
	<h1>Forgotten Password</h1>
	
	{if last_segment == "sent"}
		<p>We've sent a reset link to your email address. Please follow the link to reset your password.</p>
	{/if}
	
	{exp:freemember:forgot_password
		return="members/forgot-password/sent"
		reset="members/reset-password"
		error_handling="inline"
		error_delimiters='<span class="col twelvecol error">|</span>'
	}
		<fieldset class="uniform left">
			<p>
				<label for="email">Email</label>
				{field:email}{error:email}
			<p>
			
			<p class="text-right">
				<input type="submit" value="Submit" />
			</p>
		</fieldset>
	{/exp:freemember:forgot_password}

{embed="_inc/.footer"}