<?php
$this->EE =& get_instance();
$action_id = $this->EE->functions->fetch_action_id('Member', 'retrieve_password');
?> 
{embed="_inc/.header"}
	
	<h1>Forgotten Password</h1>
	
	<form id="publishForm" method="post" action="{site_url}members/">
		
		<div class="hiddenFields">
	        <input type="hidden" name="XID" value={XID_HASH} /> 
	        <input type="hidden" name="ACT" value="<?php echo $action_id; ?>" />
	        <input type="hidden" name="RET" value="-3" /> 
	        <input type="hidden" name="FROM" value="" /> 
	        <input type="hidden" name="site_id" value="1" /> 
		</div>
		
		<fieldset class="uniform">
			
			<p>
				<label for="email">Email Address <span class="highlight">*</span></label>
				<input type="text" name="email" value="{email}" maxlength="120" class="inputbox" size="25" />
			</p>
		
		</fieldset>
		
		<p><input type="submit" value="Submit" class="submit"></p>
		
		<p><a href="{path='members'}">Back to Login</a>
		
		</p></td>
		</tr>
		</tbody></table>
		
	</form>


{embed="_inc/.footer"}