{embed="_inc/.header"}

	{if logged_out}
		
		<h1>Log In</h1>
	
		{if last_segment == "registered"}
			<p>We've sent a register link to your email address. Please follow the link to complete your registration.</p>
		{/if}
	
		{if last_segment == "reset-complete"}
			<p>Your password was successfully reset. Please log in with your new details.</p>
		{/if}
		
		{embed="members/.login_form" return="members"}
		
		<p class="text-right">Not yet registered? <a href="/members/register">Sign up here</a>.</p>
		
	{/if}

	{if logged_in}
		
		{!-- If you have account statistics, show them here
		
		<div class="bubble blue">
			<h1>Account</h1>
		</div>
		
		<a href="{exp:freemember:logout_url return}">Log out</a>
		
		--}
		
		{!-- Else just redirect to the update page
				Consider moving that content to this page instead of embedding.
		 --}
		
		{redirect="members/update"}
		
	{/if}
{embed="_inc/.footer"}