{embed="_inc/.header"}

	<h1>Change Password</h1>

	{exp:sa_member_edit:form id="publishForm" return="members/password"}
		
		<fieldset class="uniform">
			
			<p>
				<label for="current_password">Current Password <span class="highlight">*</span></label>
				<input type="password" name="current_password" value="" maxlength="32" class="inputbox" size="25" />
			</p>
	
			<p>
				<label for="password">New Password <span class="highlight">*</span></label>
				<input type="password" name="password" value="" maxlength="32" class="inputbox" size="25" />
			</p>
	
			<p>
				<label for="password_confirm">Confirm Password <span class="highlight">*</span></label>
				<input type="password" name="password_confirm" value="" maxlength="32" class="inputbox" size="25" />
			</p>
			
		</fieldset>
			

		<p>
			<input type="submit" value="Submit" class="submit">
		</p>

	{/exp:sa_member_edit:form}
	


{embed="_inc/.footer"}