{embed="_inc/.header"}

	<h1>Register for an Account</h1>
	
	{!-- Set Require Terms of Service to No in Member preferences or include a field for it on this page --}
	
	{exp:freemember:register
		return="members/registered"
	}
		<fieldset class="uniform">
			<p>
				<label for="email">Email</label>
				{field:email}{error:email}
			</p>
			
			<p>
				<label for="password">Password</label>
				{field:password}{error:password}
			</p>
			
			<p>
				<label for="password_confirm">Confirm New Password</label>
				{field:password_confirm}{error:password_confirm}
			</p>
			
			<p>
				<input type="submit" value="Register" />
			</p>
		</fieldset>
	{/exp:freemember:register}
	
{embed="_inc/.footer"}