{embed="_inc/.header"}
	
	<h1>Reset Password</h1>
	
	{exp:freemember:reset_password
		return="members/reset-complete"
		error_handling="inline"
		error_delimiters='<span class="col twelvecol error">|</span>'
	}
		<fieldset class="uniform">
			{if no_results}
				<p>Sorry, the link you clicked does not appear to be valid, or has expired.</p>
				<p>You can reset your password by submitting the <a href="/members/forgot-password">forgot password</a> form.</p>
			{/if}
			
			<p>To reset your password, please enter a new password below:</p>
			
			<p>
				<label for="password">New Password</label>
				<input type="password" name="password" value="" />
				{error:password}
			</p>
			
			<p>
				<label for="password_confirm">Confirm New Password</label>
				<input type="password" name="password_confirm" value="" />
				{error:password_confirm}
			</p>
			
			<p>
				<input type="submit" value="Reset Password" />
			</p>
		</fieldset>
	{/exp:freemember:reset_password}

{embed="_inc/.footer"}