@import url("base.css");
@import url("style.css");


/****************************************************
Reset Elements in back to default
*****************************************************/
p	{ margin: 0 0 10px 0;}
body
{
	background: #ffffff;
}

div
{
	border: 1px dotted #cccccc;
}
