/******************************
Fonts
******************************/
@font-face {
	font-family: 'icons';
	src:url('/assets/fonts/icons.eot');
	src:url('/assets/fonts/icons.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/icons.woff') format('woff'),
		url('/assets/fonts/icons.ttf') format('truetype'),
		url('/assets/fonts/icons.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/******************************
Reset
******************************/
/* General */
html,body,div,span,h1,h2,h3,h4,h5,h6,p,a,font,img,strong,b,u,i,ul,ol,li,address,blockquote,iframe{border:0;margin:0;padding:0;}
address{font-style:normal;}
body,p,li,h1,h2,h3,h4,h5,h6,a,input,select,textarea{font-family: helvetica, arial, verdana, sans-serif;}
ul,ol	{ padding: 1.12em 1.5em }
	li		{ padding-left: 0.1em; list-style: disc; }
	ol li		{ list-style:decimal } 
/* HTML5 */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
[hidden]{display:none;}
/* Forms */
form{margin:0;}
fieldset{border:0;margin:5px auto;padding:0;width: 100%;max-width: 585px;}
legend{font-size: 1.5em;padding:10px 0;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;}
button,input,label,select,textarea{display:inline-block;}
label{line-height:2em;}
input{padding: 0.45em;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;line-height:normal;padding:8px;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;resize:vertical;width:100%;}
/* Tables */
table{border-collapse:collapse;border-spacing:0;padding:5px;}
th,td{padding:2px 5px;border:1px solid #999;}

/******************************
Grid Layout
******************************/
/* Force border-box styling for all */
*, *:after, *:before
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
	.mean-bar *, .mean-bar *:after, .mean-bar *:before
	{
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
	}

.inner
{
	clear: both;
	margin: auto;
	overflow: hidden;
	position: relative;
	max-width: 990px;
	width: 100%;
}

.row
{
	float: left;
	margin-bottom: 1em;
	width: 100%;
}

.twelvecol	{	width: 100%;	}
.elevencol	{	width: 91.66%;	}
.tencol		{	width: 83.33%;	}
.ninecol	{	width: 75%;	}
.eightcol	{	width: 66.66%;	}
.sevencol	{	width: 58.33%;	}
.sixcol		{	width: 50%;	}
.fivecol	{	width: 41.66%;	}
.fourcol	{	width: 33.33%;	}
.threecol	{	width: 25%;	}
.twocol		{	width: 16.66%;	}
.onecol		{	width: 8.33%;	}

	.col
	{
		float: left;
		margin: 1%;
	}
	
		.col.twelvecol	{	width: 98%;	}
		.col.elevencol	{	width: 89.66%;	}
		.col.tencol		{	width: 81.33%;	}
		.col.ninecol	{	width: 73%;	}
		.col.eightcol	{	width: 64.66%;	}
		.col.sevencol	{	width: 56.33%;	}
		.col.sixcol		{	width: 48%;	}
		.col.fivecol	{	width: 39.66%;	}
		.col.fourcol	{	width: 31.33%;	}
		.col.threecol	{	width: 23%;	}
		.col.twocol		{	width: 14.66%;	}
		.col.onecol		{	width: 6.33%;	}
	
	.col-wrap
	{
		float: left;
		margin: 0 -1%;
	}
		.col-wrap.twelvecol	{	width: 102%;	}
		.col-wrap.tencol	{	width: 85.33%;	}
		.col-wrap.ninecol	{	width: 77%;		}
		.col-wrap.eightcol	{	width: 68.66%;	}
		.col-wrap.sevencol	{	width: 60.33%;	}
		.col-wrap.sixcol	{	width: 52%;		}

.center			{	margin: auto; overflow: hidden;	}
.left			{	float: left !important;			}
.right			{	float: right !important;		}
.clear			{	clear: both;					}
.clear-left		{	clear: left;					}
.clear-right	{	clear: right;					}
.text-left		{	text-align: left;				}
.text-right		{	text-align: right;				}
.text-center	{	text-align: center;				}

.nodesktop,
.belowtab,
.hide		{	display: none;					}

/**************************
Up to Tablet *************/
@media ( max-width : 768px )
{
	.inner				{	width: 98%;	}
	
	.twocol				{	width: 33.33%;	}
	.twocol.rigid		{	width: 16.66%;	}
		.col.twocol			{	width: 31.33%;	}
		.col.twocol.rigid	{	width: 14.66%;	}
	
	.fulltab			{	width: 100% !important;	}
		.col.fulltab	{	width: 98% !important;	}
	.notab				{ display: none !important;	}
	
	.nodesktop			{ display: block;			}
}

/**************************
Up to Landscape Phone ****/
@media ( max-width : 580px )
{
	.tencol,
	.ninecol,
	.eightcol,
	.sevencol,
	.sixcol,
	.fivecol			{	width: 100%;	}
		.col.tencol,
		.col.ninecol,
		.col.eightcol,
		.col.sevencol,
		.col.sixcol,
		.col.fivecol	{	width: 98%;	}
		
		.col-wrap.tencol,
		.col-wrap.ninecol,
		.col-wrap.eightcol,
		.col-wrap.sevencol,
		.col-wrap.sixcol	{	width: 102%;	}
		
	.threecol			{	width: 50%;	}
		.col.threecol	{	width: 48%;	}
	
	.fullland			{	width: 100% !important;	}
		.col.fullland	{	width: 98% !important;	}
	.noland				{	display: none !important;	}
	
	.belowtab			{ display: block;			}
}

/**************************
Up to Portrait Phone *****/
@media ( max-width : 360px )
{
	.fourcol,
	.threecol			{	width: 100%;	}
		.col.fourcol,
		.col.threecol	{	width: 98%;	}
	.twocol				{	width: 50%;	}
		.col.twocol		{	width: 48%;	}
		
		.col-wrap.tencol,
		.col-wrap.ninecol,
		.col-wrap.eightcol,
		.col-wrap.sevencol,
		.col-wrap.sixcol	{	margin: 0; width: 100%;	}
	
	.fullmob			{	width: 100% !important;		}
		.col.fullmob	{	width: 98% !important;		}
	.nomob				{	display: none !important;	}
}

/******************************
HTML
******************************/

hr
{
	display: block;
	background: #999999;
	height: 1px;
	border: 0;
	width: 100%;
	margin: 10px 0 10px 0;
}
iframe
{
	max-width: 100%;
}

img
{
	height: auto;
	max-width:100%;
}

.image_left
{
	margin-right: 8px;
	margin-bottom: 8px;
	float: left;
}

.image_right
{
	margin-left: 8px;
	margin-bottom: 8px;
	float: right;
}

/******************************
Forms
******************************/
.uniform label
{
	font-size: 1.2em;
	line-height: 1.877em;
	max-width: 180px;
	width: 100%;
}
	.uniform .required
	{
		
	}
		.uniform .required:before
		{
			content: "*";
			color: #EE0000;
		}
	
	.uniform .checkbox,
	.uniform .free
	{
		max-width: none !important;
		width: auto;
	}
		.uniform .checkbox-group .checkbox
		{
			font-size: 1em;
		}
			.uniform .checkbox-group .checkbox + .checkbox
			{
				margin-left: 5px;
			}

.uniform input[type="text"],
.uniform input[type="email"],
.uniform input[type="url"],
.uniform input[type="password"],
.uniform select,
.uniform textarea
{
	border: 1px solid #CACACA;
	max-width: 400px;
	width: 100%;
}
	.uniform.full-width input[type="text"],
	.uniform.full-width input[type="email"],
	.uniform.full-width input[type="url"],
	.uniform.full-width input[type="password"],
	.uniform.full-width select,
	.uniform.full-width textarea,
	.uniform.full-width label,
	.uniform.full-width .label,
	.uniform .full-width input[type="text"],
	.uniform .full-width input[type="email"],
	.uniform .full-width input[type="url"],
	.uniform .full-width input[type="password"],
	.uniform .full-width select,
	.uniform .full-width textarea,
	.uniform .full-width label,
	.uniform .full-width .label
	{
		max-width: none;
		width: 100%;
	}
	.uniform select
	{
		height:2.5em;
		padding-left:0;
		padding-right:0;
	}
	.uniform textarea
	{
		margin-bottom: 3px;
		padding: 5px;
	}

/******************************
Lists
******************************/
ul.indented-list, .indented-list ul		{	padding-bottom: 0; padding-top: 0;	}
ul.menu, .menu ul						{	padding: 0;							}

	.indented-list li,
	.menu li							{	list-style:none; padding: 0;		}
		.menu.horz li					{	display: inline-block;				}
			.menu.horz li + li			{	margin-left: 10px;					}


/******************************
Google Maps
******************************/
#map_canvas img
{
	max-width: none;					/* Fixes strange icons */
}
#map_canvas *
{
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;			/* Fixes infowindow jagged lines */ 
}

/******************************
Cookie Box
******************************/
#cookie_box
{
	background:#393939;
	bottom: 0;
	color:#FFFFFF;
	font-size: 0.8em;
	opacity: 0.7;
	position: fixed;
	text-align:center;
	width:100%;
	z-index: 1000;
}
	#cookie_box p
	{
		padding:5px;
	}
		#cookie_box a
		{
			color:#FFFFFF;
		}
			#cookie_box a:hover,
			#cookie_box a:focus
			{
				text-decoration: underline
			}

	.js #cookie_box
	{
		max-height: 0;
		-webkit-transition: max-height .5s ease-in;
		-moz-transition: max-height .5s ease-in;
		-o-transition: max-height .5s ease-in;
		transition: max-height .5s ease-in;
	}
		#cookie_box.visible
		{
			max-height: 75px;
			-webkit-transition: max-height 1s ease-in;
			-moz-transition: max-height 1s ease-in;
			-o-transition: max-height 1s ease-in;
			transition: max-height 1s ease-in;
		}
	
	.cookie_box_close:after
	{
		content: "\e600";
		font-family: icons;
		font-size: 16px;
		margin-left: 5px;
		speak: none;
		vertical-align: bottom;
	}
	
	.nojs .cookie_box_close
	{
		display: none;
	}
	