/******************************
MAIN LAYOUT
******************************/
body 
{
	font-size: 13px;
	letter-spacing: 0.05em;
	position: relative;
	-webkit-text-size-adjust: 100%;
}

/****************************************************
Reset Elements in Content back to default
*****************************************************/

#content p				{ margin: 0 0 10px 0;}
#content ul,#content ol	{ padding: 1.12em 1.5em }
#content li				{ padding-left: 0.1em; list-style: disc; }
#content ol li			{ list-style:decimal } 
		
/******************************
HTML
******************************/

a
{
	color: #666666;
	text-decoration: none;
}
	a:hover
	{
		color: #000000;
	}
	a.underline
	{
		border-bottom: 1px solid #666666;
	}
		a.underline:hover
		{
			border-color: #000000;
		}
	
	a.button,
	input[type="submit"]
	{
		background: #9dd30d;
		background: -webkit-linear-gradient(#9dd30d,  #00734a);
		background: -moz-linear-gradient(#9dd30d,  #00734a);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dd30d', endColorstr='#00734a');
		background: linear-gradient(#9dd30d,  #00734a);
		
		-webkit-transition: background-position .2s ease-out;
		-moz-transition: background-position .2s  ease-out;  
		-o-transition: background-position .2s  ease-out;  
		transition: background-position .2s  ease-out;
		border-radius: 5px;
		border: 0;
		cursor: pointer;
		behavior: url(/assets/css/PIE.htc);
		position: relative;
		background-size: 100% 300%;
		color: #fff;
		padding: 8px 10px;
	}
		a.button:hover,
		input[type="submit"]:hover
		{
			background-position: 100%;
		}


/******************************
HEADINGS
******************************/

h1, .h1
{
	font-size: 2.3em;
	font-weight: normal;
	line-height: 1.4em;
	margin: 0px 0px 10px 0px;
}


h2, .h2
{
	font-weight: normal;
	font-size: 1.6em;
	line-height: 1.4em;
	margin: 0px 0px 10px 0px;
}

h3, .h3,
h4
{
	font-size: 1.2em;
}
	
/******************************
IMAGES
******************************/
			

/******************************
FORMS
******************************/
.error
{
	color: red;
}
	/* Hide form when message sent */
	.success + form
	{
		display: none;
	}

#ui-datepicker-div
{
	background: #FFFFFF;
	padding: 5px;
}
	#ui-datepicker-div a
	{
		cursor: pointer;
	}
		.ui-datepicker-next
		{
			float: right;
		}

/******************************
SECTIONS
******************************/

/*************************
Header ******************/


/*************************
Index List **************/
.index-list .row
{
	border-bottom: 1px solid #D9D9D6;
}
	.pagination + .row
	{
		margin-top: 1em;
	}

/*************************
Breadcrumbs *************/
.breadcrumbs
{
    float: left;
    font-size: 1.3em;
    margin-bottom: 1em;
    width: 100%;
}
    .breadcrumbs a
    {
        color: #888;
        float: left;
        text-decoration: none;
    }
    .breadcrumbs span
    {
        float: left;
    }
        .crumb-child
        {
            color: #888;
            margin: 0 5px;
        }

/*************************
Slideshow ***************/

#slideshow-arrows
{
	bottom: 40px;
	left: 30px;
	position: absolute;
	z-index: 500;
}
	#slideshow-prev,
	#slideshow-next
	{
		background: url("/assets/images/slideshow/arrows.png") 0 no-repeat;
		cursor: pointer;
		height: 30px;
		float: left;
		width: 30px;
	}
		#slideshow-next
		{
			background-position: -30px;
		}

#slideshow-buttons-wrap
{
	bottom: -10px;
	height: 20px;
	left: 0;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 50;
}
	#slideshow-buttons
	{
		display: inline-block;
	}
		#slideshow-buttons a
		{
			float: left;
			height: 20px;
			overflow: hidden;
			position: relative;
		}
			.activeSlide img
			{
				position: relative;
				top: -22px;
			}

/*************************
Pagination **************/
.pagination
{
	border-bottom: 1px solid #D9D9D6;
	border-top: 6px solid #D9D9D6;
	font-size: 1.1em;
	line-height: 1.6em;
	padding: 3px 0 5px;
}
	.page-number
	{
		float: left;
		border: 1px solid #D9D9D6;
		color: #41423c;
		padding: 0 3px;
	}
		a.page-number
		{
			background: #D9D9D6;
		}
			a.page-number:hover
			{
				color: #41423c;
				background: #FFFFFF;
			}
				.page-number + .page-number
				{
					margin-left: 5px;
				}

/**************************
Footer *******************/


/******************************
PAGES
******************************/

/**************************
News *********************/
.separator
{
    display: none;
}
	a + .separator
	{
	    display: inline;
	}


/**************************
Sitemap ******************/
#sitemap ul
{
	padding-bottom: 0;
	padding-top: 0;
}
	#sitemap li
	{
		list-style: none;
	}

/******************************
OTHER HTML
******************************/

.attention
{
	font-size: 1.4em;
	line-height: 1.676em;
}

/******************************
MENUS
******************************/
/**************************
Main Menu ****************/

#navigation li
{
	float: left;
	position: relative;
}
	#navigation li a
	{
		float: left;
	    display: block;
		text-decoration: none;
		padding: 5px 7px;
	}
		#navigation li ul
		{
			display: none;
			position:absolute;
			z-index: 500;
			top: 100%;
			background: #f3f3f3;
		}
		
			#navigation li:hover ul
			{
				display:block;
			}
		
/**************************
Sidebar Menu *************/

#sidebar li
{
	text-decoration: none;
}

	#sidebar li a
	{
        display: block;
		text-decoration: none;
	}

/**************************
Footer Menu **************/

#footer li
{
    float: left;
	margin: 5px 10px 0px 0px;
	padding: 0px 10px 0px 0px;
	height: 12px;
}

	#footer li a
	{
        display: block;
		text-decoration: none;
		margin: -4px 0px 0px 0px;
	}

	#footer li a:hover, #footer li.current a
	{
		text-decoration: underline;
	}
	
		#footer li ul
		{
			display: none;
		}

/******************************
MEDIA QUERY OVERRIDES
******************************/

/**************************
Desktop Only *************/
@media ( min-width : 769px )
{
	
}

/**************************
Up to Tablet *************/
@media ( max-width : 768px )
{
	#header-main-menu > ul	{	display: block !important;	}
}

/**************************
Tablet and up ************/
@media ( min-width : 581px )
{
	
}

/**************************
Up to Landscape Phone ****/
@media ( max-width : 580px )
{
	#header-main-menu
	{
		display: none;
		position: fixed;
		right: 2%;
		top: 45px;
		width: auto;
		z-index: 500;
	}
		#header-main-menu ul
		{
			background: #f3f3f3;
			display: none;
			overflow: hidden;
			width: 150px;
		}
			#header-main-menu li a
			{
				border-bottom: 1px dotted #cfcfcf;
				float: left;
				padding: 5px;
				width: 150px;
			}
				#header-main-menu li ul
				{
					display: block;
					position: static;
				}
					#header-main-menu li li a,
					#header-main-menu li:hover li a
					{
						border: 0;
						font-size: 0.85em;
						padding: 4px 2px 4px 15px;
					}
}

/**************************
Up to Portrait Phone *****/
@media ( max-width : 360px )
{
	
}
