/******************************
Colours on site
Orange:			#F15A29
Light Grey:		#E0E0E0
Mid Grey:		#666666
Black:			#000000

MAIN LAYOUT
******************************/
body 
{
	font-size: 0.9em;
	letter-spacing: 0.05em;
	line-height: 1.3em;
	position: relative;
	-webkit-text-size-adjust: 100%;
}

/****************************************************
Reset Elements in Content back to default
*****************************************************/
.content p	{ margin: 0 0 10px 0;}
		
/******************************
HTML
******************************/

a
{
	-webkit-transition: color .3s ease-out;
	-moz-transition: color .3s  ease-out;
	-o-transition: color .3s  ease-out;
	transition: color .3s  ease-out;
	color: #666666;
	text-decoration: none;
}
	a:hover, a:focus
	{
		color: #000000;
	}
	
	.button,
	button,
	input[type="submit"]
	{
		-webkit-transition: background-color .3s  ease-in-out, color .3s  ease-in-out;
		-moz-transition: background-color .3s  ease-in-out, color .3s  ease-in-out;
		-o-transition: background-color .3s  ease-in-out, color .3s  ease-in-out;
		transition: background-color .3s  ease-in-out, color .3s  ease-in-out;
		
		background-color: #E0E0E0;
		border: 0;
		color: #000000;
		cursor: pointer;
		display: inline-block;
		padding: 7px 14px;
		position: relative;
	}
		.button:hover, .button:focus,
		button:hover, button:focus,
		input[type="submit"]:hover, input[type="submit"]:focus
		{
			color: #FFFFFF;
			background-color: #666666;
		}
		
		.button.large,
		button.large,
		input[type="submit"].large
		{
			font-size: 1.5em;
			padding: 7px 28px;
		}
		
		.button.prominent,
		button.prominent,
		input[type="submit"].prominent
		{
			background-color: #F15A29;
			color: #FFFFFF;
		}


/******************************
HEADINGS
******************************/

h1, .h1
{
	font-size: 2.3em;
	font-weight: normal;
	line-height: 1.4em;
	margin: 0px 0px 10px 0px;
}


h2, .h2
{
	font-weight: normal;
	font-size: 1.6em;
	line-height: 1.4em;
	margin: 0px 0px 10px 0px;
}

h3, .h3,
h4
{
	font-size: 1.2em;
	font-weight: bold;
}
	
/******************************
IMAGES
******************************/
			

/******************************
FORMS
******************************/
.error, .success
{
	-webkit-transition: color .3s ease-out;
	-moz-transition: color .3s  ease-out;  
	-o-transition: color .3s  ease-out;  
	transition: color .3s  ease-out;
}
	.error		{	color: #DD0000;	}
	.success	{	color: #008800; }
	
		/* Hide form when message sent */
		.success + form
		{
			display: none;
		}

#ui-datepicker-div
{
	background: #FFFFFF;
	padding: 5px;
}
	#ui-datepicker-div a
	{
		cursor: pointer;
	}
		.ui-datepicker-next
		{
			float: right;
		}

/******************************
SECTIONS
******************************/

/*************************
Comments ****************/
.comment
{
	border-bottom: 1px solid #E0E0E0;
	padding-top: 10px;
}
	.comment.admin
	{
		padding-left: 20px;
		background: #E0E0E0;
	}
	.comment-author
	{
		margin-bottom: 5px;
	}
		.comment-date
		{
			font-size: 0.8em;
			font-style: italic;
			margin-right: 15px;
		}

/**************************
Footer *******************/



/*************************
Header ******************/
#header-main-menu.inner
{
	overflow: visible;
}

/*************************
Pagination **************/
.pagination
{
	border-bottom: 1px solid #E0E0E0;
	border-top: 6px solid #E0E0E0;
	font-size: 1.1em;
	line-height: 1.6em;
	padding: 3px 0 5px;
}
	.page-number
	{
		float: left;
		border: 1px solid #E0E0E0;
		color: #666666;
		padding: 0 3px;
	}
		a.page-number
		{
			background: #E0E0E0;
		}
			a.page-number:hover,
			a.page-number:focus
			{
				color: #666666;
				background: #FFFFFF;
			}
				.page-number + .page-number
				{
					margin-left: 5px;
				}

/*	Infinite Scroll */
#infscr-loading
{
	text-align: center;
}

/*************************
Slideshow ***************/
.slide + .slide
{
	display: none;
}
	.cycle-sentinel + .slide,
	.slide img
	{
		display: block;
	}

.slideshow-control
{
	display: none;
	position: absolute;
	z-index: 500;
}
	.cycle-pager
	{
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
	}
		.slide-thumb
		{
			cursor: pointer;
		}
		.icon-pager span
		{
			cursor: pointer;
			display: inline-block;
			font-size: 16px;
		}
			.icon-pager span:after
			{
				content: '\e000';
				font-family: 'icons';
				speak: none;
			}
				.icon-pager .cycle-pager-active:after
				{
					content: '\e001';
				}
	.cycle-prev,
	.cycle-next
	{
		cursor: pointer;
		float: left;
		font-family: 'icons';
		font-size: 18px;
		speak: none;
		top: 50%;
	}
		.cycle-prev
		{
			left: 5px;
		}
			.cycle-prev:after
			{
				content: '\a004';
			}
		.cycle-next
		{
			right: 5px;
		}
			.cycle-next:after
			{
				content: '\a005';
			}

/**************************
Social *******************/
.social-buttons
{
	margin: 10px 0 20px;
}

/******************************
PAGES
******************************/

/**************************
Blog *********************/
.blog #sidebar
{
	margin-top: 80px;
}

/**************************
Cart *********************/
.cart-item
{
	border-bottom: 1px solid #E0E0E0;
	padding-bottom: 1em;
}
	.cart-item input
	{
		padding-bottom: 2px;
		padding-top: 2px;
	}
		.cart-item input[type="text"],
		.coupon input[type="text"]
		{
			border: 1px solid #E0E0E0;
		}
	
	.cart-item ul
	{
		float: left;
		padding-bottom: 0;
		padding-top: 0;
	}

/**************************
Checkout *****************/
.js #shipping-fields,
.js #create_user
{
	display: none;
}

/**************************
Gallery ******************/
/* Gallery Landing Styles */

.gallery-container
{
	display: inline-block;
	width: 225px;
	margin: 8px;
	text-align: center;
}
	.gallery-thumb
	{
		width: 100%;
		height: 225px;
		overflow: hidden;
	}
		.gallery-thumb img
		{
			max-width: none;
		}

/* Gallery Images Override */

.gallery-image .gallery-container
{
	margin: 10px;
	width: 100px;
}
	.gallery-image .gallery-thumb
	{
		height: 100px;
	}

button.mfp-close,
button.mfp-arrow
{
	background: none;
	outline: none;
}

/*************************
Members *****************/
.nojs .form-switch,
.js #register-form
{
	display: none;
}

/***********************
Order Info ************/
.nojs #print-button
{
	display: none;
}

.order
{
	border-top: 1px solid #E0E0E0;
	margin-top: 10px;
	padding-top: 10px;
}
	.order-info
	{
		color: #000000;
	}

/***********************
Product ***************/

.price
{
	font-size: 1.1em;
}
	.original-price
	{
		color: #FF0000;
		text-decoration: line-through;
	}
	.shipping-price,
	.shipping-note
	{
		font-style: italic;
		font-size: 0.8em;
	}
	.add-to-cart-note
	{
		font-size: 0.9em;
	}

/***********************
Shop ******************/
.nojs #nav_categories
{
	display: none;
}
#loading
{
	background: url(../images/loading_large.gif) no-repeat center;
	display: block;
	height: 88px;
	width: 100%;
}

/******************************
OTHER HTML
******************************/

.bold				{	font-weight: bold;					}
.headway			{	margin-top: 1em;					}
.lowlight,
.lowlight-link		{	color: #E0E0E0;						}
.uppercase			{	text-transform: uppercase;			}

/******************************
MENUS
******************************/
/**************************
Main Menu ****************/

#header-main-menu li
{
	float: left;
	position: relative;
}
	#header-main-menu li a
	{
		float: left;
	    display: block;
		text-decoration: none;
		padding: 5px 8px;
	}
		#header-main-menu li ul
		{
			display: none;
			position:absolute;
			z-index: 500;
			top: 100%;
			background: #E0E0E0;
		}
		
			#header-main-menu li:hover ul,
			#header-main-menu li:focus ul
			{
				display:block;
			}
		
/**************************
Sidebar Menu *************/

#sidebar li
{
	
}

	#sidebar li a
	{
        display: block;
		text-decoration: none;
	}

/**************************
Footer Menu **************/

#footer li
{
    display: inline;
}
	#footer li + li
	{
		margin-left: 10px;
	}

/******************************
MEDIA QUERY OVERRIDES
******************************/

/**************************
Desktop Only *************/
@media ( min-width : 769px )
{
	
}

/**************************
Up to Tablet *************/
@media ( max-width : 768px )
{
	
}

/**************************
Tablet and up ************/
@media ( min-width : 581px )
{
	
}

/**************************
Up to Landscape Phone ****/
@media ( max-width : 580px )
{
	
}

/**************************
Up to Portrait Phone *****/
@media ( max-width : 360px )
{
	
}
