<div id="entry-advance" class="right">
	{exp:channel:prev_entry channel="news"}
	    <a href="/news/article/{url_title}">Older Article</a>
	{/exp:channel:prev_entry}
	{exp:channel:next_entry channel="news"}
		<span class="separator"> / </span>
	    <a href="/news/article/{url_title}">Newer Article</a>
	{/exp:channel:next_entry}
</div>

{exp:channel:entries channel="news" disable="categories|category_fields|member_data|pagination"}
	
	<h1>{title}</h1>
	
	<p class="lowlight">Written by {author} on {entry_date format="%l %d %F %Y"}</p>
	
	{news_image}
		<img src="{url}" width="{width}" />
	{/news_image}
	{exp:low_widont}{news_body}{/exp:low_widont}
	
{/exp:channel:entries}

{embed="_inc/.social_buttons"}