<?php
$entry = "{segment_2}";
$list = false;
if ( $entry == "" || preg_match("#^P(\d+)|/P(\d+)#",$entry) )
{ 
	$list = true;
}
?>

{embed="_inc/.header"}

	<div class="row">
		{exp:channel:entries channel="content" dynamic="no" url_title="{segment_1}" disable="categories|member_data|pagination"}
			<h1>{title}</h1>
			{content_body}
		{/exp:channel:entries}
	</div>
	
<?php if($list) : ?>
	
	{embed="news/.list" limit="5" paginate="true"}
	
<?php else : ?>
	
	{exp:channel:entries channel="news" url_title="{last_segment}" disable="categories|member_data|pagination"}
		
		<h1>{title}</h1>
		<p class="lowlight">Written by {author} on {entry_date format="%l %d %F %Y"}</p>
		
		{exp:low_widont}{news_body}{/exp:low_widont}
		
	{/exp:channel:entries}
	
	{embed="_inc/.social_buttons"}
	
<?php endif; ?>

{embed="_inc/.footer"}